@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&display=swap');
$color-oscuro: #20a6ff;
$color-claro: #a2d4ff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './hero.scss';
@import './info.scss';

html {
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    overflow-x: hidden;
    
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.container-app {
    min-height: 100vh;
    background: $color-oscuro;
    background: linear-gradient(356deg, $color-oscuro 0%, #ffffff 110%);
}