.galeria{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 430px;
    img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: all .3s;
    }
    img:hover{
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
}