.galeria{
   height: 100vh; 
   border-radius: 20px;
   overflow: hidden;
   padding-bottom: 1rem;
   img{
       border-radius: 20px;
       object-fit: cover;

   }
   .titular-galeria{
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    font-family: "Playwrite HU", cursive;
   }
}